.modalOverlay{

position:fixed;

top:0;

left:0;

right:0;

bottom:0;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}

.clienteModal{

width:700px;

background:white;

border-radius:18px;

overflow:hidden;

animation:aparecer .25s;

}

@keyframes aparecer{

from{

transform:scale(.9);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}

.modalHeader{

padding:22px;

background:#2563eb;

color:white;

}

.modalBody{

padding:25px;

display:grid;

grid-template-columns:1fr 1fr;

gap:18px;

}

.modalBody .inputGroup:last-child{

grid-column:1/3;

}

.modalFooter{

padding:20px;

display:flex;

justify-content:flex-end;

gap:15px;

background:#f8fafc;

}