.actionButtons{

display:flex;

gap:8px;

justify-content:center;

align-items:center;

}

.accion{

width:38px;

height:38px;

border:none;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

transition:.25s;

font-size:15px;

}

.ver{

background:#dbeafe;

color:#2563eb;

}

.ver:hover{

background:#2563eb;

color:white;

}

.editar{

background:#fef3c7;

color:#d97706;

}

.editar:hover{

background:#d97706;

color:white;

}

.eliminar{

background:#fee2e2;

color:#dc2626;

}

.eliminar:hover{

background:#dc2626;

color:white;

}

.accion.restaurar{
    background:#dcfce7;
    color:#15803d;
}

.accion.restaurar:hover{
    background:#22c55e;
    color:white;
}