.navbar{

height:75px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

box-shadow:0 2px 12px rgba(0,0,0,.08);

}

.navbar-right{

display:flex;

align-items:center;

gap:25px;

}

.icon{

font-size:22px;

color:#2563eb;

cursor:pointer;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.avatar{

width:45px;

height:45px;

border-radius:50%;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:bold;

font-size:18px;

}

.profile p{

font-size:13px;

color:gray;

}