.vehiculoModal{

width:820px;

background:white;

border-radius:18px;

overflow:hidden;

animation:aparecer .25s;

}

.vehiculoHeader{

padding:22px;

background:#2563eb;

color:white;

}

.vehiculoBody{

padding:30px;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

}

.vehiculoFooter{

padding:20px;

display:flex;

justify-content:flex-end;

gap:15px;

background:#f8fafc;

}

@media(max-width:900px){

.vehiculoModal{

width:95%;

}

.vehiculoBody{

grid-template-columns:1fr;

}

}