.statCard{

background:white;

border-radius:18px;

padding:22px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.25s;

}

.statCard:hover{

transform:translateY(-4px);

}

.statCard p{

color:#64748b;

margin-bottom:8px;

}

.statCard h2{

font-size:32px;

color:#0f172a;

}

.statIcon{

width:65px;

height:65px;

border-radius:16px;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

}