.ordenTop{

margin-bottom:30px;

}

.ordenTop h1{

font-size:30px;

color:#1e293b;

}

.ordenTop p{

margin-top:8px;

color:#64748b;

}

.ordenForm{

display:flex;

flex-direction:column;

gap:25px;

}

.cardOrden{

background:white;

padding:30px;

border-radius:16px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.cardOrden h2{

margin-bottom:20px;

color:#2563eb;

font-size:22px;

}

.grid2{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.grid2 div{

display:flex;

flex-direction:column;

}

.grid2 label{

margin-bottom:8px;

font-weight:600;

color:#334155;

}

.grid2 input,

.grid2 select{

padding:13px;

border:1px solid #dbe3ee;

border-radius:10px;

font-size:15px;

}

textarea{

width:100%;

padding:15px;

border:1px solid #dbe3ee;

border-radius:10px;

resize:none;

font-size:15px;

}

.botonesOrden{

display:flex;

justify-content:flex-end;

gap:20px;

margin-bottom:40px;

}

.btnGuardar{

background:#2563eb;

color:white;

border:none;

padding:14px 22px;

border-radius:10px;

cursor:pointer;

display:flex;

align-items:center;

gap:10px;

font-size:15px;

}

.btnCancelar{

background:#e2e8f0;

color:#1e293b;

border:none;

padding:14px 22px;

border-radius:10px;

cursor:pointer;

display:flex;

align-items:center;

gap:10px;

font-size:15px;

}

@media(max-width:900px){

.grid2{

grid-template-columns:1fr;

}

}